<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Esraj</key>
	<dict>
		<key>TuningCoeff</key>
		<string>1</string>
		<key>Taals</key>
		<dict>
			<key>Jai Taal (13)</key>
			<dict>
				<key>Beats</key>
				<integer>13</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Alhayia Bilwal</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Jai Taal_Alhayia Bilwal_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Matta Taal (9)</key>
			<dict>
				<key>Beats</key>
				<integer>9</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Darbari Kanada</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Matta Taal_Darbari Kanada_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Roopak Taal Double Cycle (14)</key>
			<dict>
				<key>Beats</key>
				<integer>14</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>65</integer>
				<key>Raags</key>
				<dict>
					<key>Kedar</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Roopak_Kedar_Double_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Roopak Taal</key>
			<dict>
				<key>Beats</key>
				<integer>14</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>65</integer>
				<key>Raags</key>
				<dict>
					<key>Kedar</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Roopak_Kedar_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Teentaal (16)</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>300</string>
				</array>
				<key>MaxTempo</key>
				<integer>500</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Chandrakauns</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Chandrakauns_%@.wav</string>
					</dict>
					<key>Bageshree</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Bageshree_%@.wav</string>
					</dict>
					<key>Sohini</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Sohini_%@.wav</string>
					</dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Kirwani_%@.wav</string>
					</dict>
					<key>Misra Tilang</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Misra Tilang_%@.wav</string>
					</dict>
					<key>Jaiajaiwanti</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Jaijaiwanti_%@.wav</string>
					</dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Charukeshi_%@.wav</string>
					</dict>
					<key>Madhuwanti</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Madhuwanti_%@.wav</string>
					</dict>
					<key>Saraswati</key>
					<dict>
						<key>FileName</key>
						<string>Esraj_Teentaal_Saraswati_%@.wav</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Harmonium</key>
	<dict>
		<key>TuningCoeff</key>
		<string>1</string>
		<key>Taals</key>
		<dict>
			<key>Jhaptaal (10)</key>
			<dict>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Jaijawanti</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Jhaptaal_Jaijawanti_%@.wav</string>
					</dict>
					<key>Tilang</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Jhaptaal_Tilang_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Dhamar (14)</key>
			<dict>
				<key>Beats</key>
				<integer>14</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Dhamar_Charukeshi_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Sool Taal (10)</key>
			<dict>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Kedar</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Sool Taal_Kedar_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Teentaal (16)</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>320</string>
				</array>
				<key>MaxTempo</key>
				<integer>500</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teentaal_Kirwani_%@.wav</string>
					</dict>
					<key>Misra Bhairavi</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teentaal_Misra Bhairavi_%@.wav</string>
					</dict>
					<key>Bilaskhani Todi</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teentaal_Bilaskhani Todi_%@.wav</string>
					</dict>
					<key>Misra Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teentaal_Misra Kirwani_%@.wav</string>
					</dict>
					<key>Misra Madhuwanti</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teentaal_Misra Madhuwanti_%@.wav</string>
					</dict>
					<key>Todi</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teentaal_Todi_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Pancham Sawari (15)</key>
			<dict>
				<key>Beats</key>
				<integer>15</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>45</integer>
				<key>Raags</key>
				<dict>
					<key>Chandrakauns</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Pancham Sawari_Chandrakauns_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Roopak Taal (7)</key>
			<dict>
				<key>Beats</key>
				<integer>7</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Patdeep</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Roopak Taal_Patdeep_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Ektaal (12)</key>
			<dict>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Gavti</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Ek Taal_Gavti_%@.wav</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Sitar</key>
	<dict>
		<key>TuningCoeff</key>
		<string>1</string>
		<key>Taals</key>
		<dict>
			<key>Roopak Taal (7)</key>
			<dict>
				<key>Beats</key>
				<integer>7</integer>
				<key>Tempos</key>
				<array>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>80</integer>
				<key>Raags</key>
				<dict>
					<key>Bageshree</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Roopak Taal_Bhageshree_%@.wav</string>
						<key>Tempos</key>
						<array>
							<string>75</string>
							<string>90</string>
							<string>120</string>
							<string>150</string>
							<string>180</string>
						</array>
						<key>MaxTempo</key>
						<integer>240</integer>
						<key>MinTempo</key>
						<integer>60</integer>
					</dict>
				</dict>
			</dict>
			<key>Sardha Roopak (10.5)</key>
			<dict>
				<key>Beats</key>
				<integer>21</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Bhimpalashree</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Sardha Roopak_Bhimpalashree_Double_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Neel Taal (7.5)</key>
			<dict>
				<key>Beats</key>
				<integer>15</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>60</integer>
				<key>Raags</key>
				<dict>
					<key>Bageshree</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Neel Taal_Bageshree_Double_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Jai Taal (13)</key>
			<dict>
				<key>Beats</key>
				<integer>13</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>45</integer>
				<key>Raags</key>
				<dict>
					<key>Hindol</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Jai Taal_Hindol_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Rudra Taal (11)</key>
			<dict>
				<key>Beats</key>
				<integer>11</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Kedar</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Rudra Taal_Kedar_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Sunand Taal (9.5)</key>
			<dict>
				<key>Beats</key>
				<integer>19</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>45</integer>
				<key>Raags</key>
				<dict>
					<key>Hansadhwani</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Sunand Taal_Hamsadhwani_Double_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Pancham Sawari (15)</key>
			<dict>
				<key>Beats</key>
				<integer>15</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>45</integer>
				<key>Raags</key>
				<dict>
					<key>Hansadhwani</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Pancham Sawari_Hansadhwani_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Teentaal (16)</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>320</string>
				</array>
				<key>MaxTempo</key>
				<integer>500</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Bhimpalasi</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Teentaal_Bhimpalashree_%@.wav</string>
					</dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Teentaal_Charukeshi_%@.wav</string>
					</dict>
					<key>Basant</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Teentaal_Basant_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Jhaptaal (10)</key>
			<dict>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Tilak Kamod</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Jhaptaal_Tilak Kamod_%@.wav</string>
					</dict>
					<key>Shivranjani</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Jhaptaal_Shivranjani_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Ektaal (12)</key>
			<dict>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Kedar</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Ektaal_Kedar_%@.wav</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Sarangi</key>
	<dict>
		<key>TuningCoeff</key>
		<string>1.05945651</string>
		<key>Taals</key>
		<dict>
			<key>Roopak (7)</key>
			<dict>
				<key>Beats</key>
				<integer>7</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>60</integer>
				<key>Raags</key>
				<dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Roopak Taal_Charukeshi_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Jhaptaal (10)</key>
			<dict>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Bageshree</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Jhaptaal_Bageshree_%@.wav</string>
					</dict>
					<key>Bahar</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Jhaptaal_Bahar_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Jai Taal (13)</key>
			<dict>
				<key>Beats</key>
				<integer>13</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>45</integer>
				<key>Raags</key>
				<dict>
					<key>Jog</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Jai Taal_Jog_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Pancham Sawari (15)</key>
			<dict>
				<key>Beats</key>
				<integer>15</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>60</integer>
				<key>Raags</key>
				<dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Pancham Sawari_Charukeshi_%@.wav</string>
					</dict>
				</dict>
			</dict>
			<key>Teentaal (16)</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>320</string>
				</array>
				<key>MaxTempo</key>
				<integer>500</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Bhairavi</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Bhairavi_%@.wav</string>
					</dict>
					<key>Bhupali</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Bhupali_%@.wav</string>
					</dict>
					<key>Desh</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Desh_%@.wav</string>
					</dict>
					<key>Jog</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Jog_%@.wav</string>
					</dict>
					<key>Madhukauns</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Madhukauns_%@.wav</string>
					</dict>
					<key>Mand</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Mand_%@.wav</string>
					</dict>
					<key>Nat Bhairav</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Nat Bhairav_%@.wav</string>
					</dict>
					<key>Gorah Kalyan</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Gorah Kalyan_%@.wav</string>
					</dict>
					<key>Chandrakauns</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teentaal_Chandrakauns_%@.wav</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
