<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sarangi</key>
	<dict>
		<key>TuningCoeff</key>
		<string>0.94388068</string>
		<key>Taals</key>
		<dict>
			<key>Teentaal</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>65</integer>
				<key>MinTempo</key>
				<integer>60</integer>
				<key>Raags</key>
				<dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Charukeshi_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Des</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Des_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Vachaspati 2</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Vachaspati 2_%@.wav</string>
						<key>Hidden</key>
						<true/>
						<key>Tempos</key>
						<array>
							<string>40</string>
							<string>50</string>
							<string>60</string>
							<string>75</string>
							<string>90</string>
							<string>120</string>
							<string>150</string>
							<string>180</string>
							<string>240</string>
							<string>320</string>
						</array>
						<key>MaxTempo</key>
						<integer>480</integer>
						<key>MinTempo</key>
						<integer>30</integer>
					</dict>
					<key>Vachaspati</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Vachaspati_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Puriya Dhana</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Puriya Dhana_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Shivranjani</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Shivranjani_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Janasammohini</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Janasammohini_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Hemant</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Hemant_%@.wav</string>
						<key>Hidden</key>
						<false/>
						<key>Tempos</key>
						<array>
							<string>40</string>
							<string>50</string>
							<string>60</string>
							<string>75</string>
							<string>90</string>
							<string>120</string>
							<string>150</string>
							<string>180</string>
							<string>240</string>
							<string>320</string>
						</array>
						<key>MaxTempo</key>
						<integer>65</integer>
						<key>MinTempo</key>
						<integer>60</integer>
					</dict>
					<key>Bageshree</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Teen Taal_Rageshree_%@.wav</string>
						<key>Hidden</key>
						<true/>
						<key>Tempos</key>
						<array>
							<string>40</string>
							<string>50</string>
							<string>60</string>
							<string>75</string>
							<string>90</string>
							<string>120</string>
							<string>150</string>
							<string>180</string>
							<string>240</string>
							<string>320</string>
						</array>
						<key>MaxTempo</key>
						<integer>480</integer>
						<key>MinTempo</key>
						<integer>30</integer>
					</dict>
				</dict>
			</dict>
			<key>Roopak Taal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>7</integer>
				<key>Tempos</key>
				<array>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>80</integer>
				<key>Raags</key>
				<dict>
					<key>Bairagi</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Roopak Taal_Bairagi_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Bhageshree</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Roopak Taal_Bhageshree_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Gara</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Roopak Taal_Gara_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Madhukosh</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Roopak Taal_Madhukosh_%@.wav</string>
						<key>Hidden</key>
						<false/>
						<key>Tempos</key>
						<array>
							<string>75</string>
							<string>90</string>
							<string>120</string>
							<string>150</string>
							<string>180</string>
						</array>
						<key>MaxTempo</key>
						<integer>240</integer>
						<key>MinTempo</key>
						<integer>60</integer>
					</dict>
				</dict>
			</dict>
			<key>Jhaptaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Malkauns</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Jhap Taal_Malkauns_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Jhinjhoti</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Jhap Taal_Jhinjhoti_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Jhap Taal_Charukeshi_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Ektaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
				</array>
				<key>MaxTempo</key>
				<integer>120</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Hemant</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Ek Taal_Hemant_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Patdeep</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Ek Taal_Patdip_%@.wav</string>
						<key>Hidden</key>
						<false/>
						<key>Tempos</key>
						<array>
							<string>75</string>
							<string>90</string>
							<string>120</string>
							<string>150</string>
						</array>
						<key>MaxTempo</key>
						<integer>180</integer>
						<key>MinTempo</key>
						<integer>60</integer>
					</dict>
				</dict>
			</dict>
			<key>Chautaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Gorakh Kalyan</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Chau Taal_Gorakh Kalyan_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Matta Taal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>9</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Saraswati</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Matta Taal_Saraswati_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Dhamar</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>14</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Shree</key>
					<dict>
						<key>FileName</key>
						<string>Sarangi_Dhamar_Shree_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Santoor</key>
	<dict>
		<key>TuningCoeff</key>
		<string>1</string>
		<key>Taals</key>
		<dict>
			<key>Teentaal</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>60</string>
					<string>80</string>
					<string>100</string>
				</array>
				<key>MaxTempo</key>
				<integer>65</integer>
				<key>MinTempo</key>
				<integer>60</integer>
				<key>Raags</key>
				<dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Teen Taal_Kiwani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Des</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Teen Taal_Des_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Bhairav</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Teen Taal_Bhairav_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>Roopak Taal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>7</integer>
				<key>Tempos</key>
				<array>
					<string>80</string>
					<string>100</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>70</integer>
				<key>Raags</key>
				<dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Roopak Taal_Kiwani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Des</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Roopak Taal_Des_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Bhairav</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Roopak Taal_Bhairav_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Jhaptaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>60</string>
					<string>80</string>
					<string>100</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Jhap Taal_Kiwani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Des</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Jhap Taal_Des_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Bhairav</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Jhap Taal_Bhairav_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Ektaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>80</string>
					<string>100</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>70</integer>
				<key>Raags</key>
				<dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Ek Taal_Kiwani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Des</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Ek Taal_Des_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Bhairav</key>
					<dict>
						<key>FileName</key>
						<string>Santoor_Ek Taal_Bhairav_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Harmonium</key>
	<dict>
		<key>TuningCoeff</key>
		<string>0.94388068</string>
		<key>Taals</key>
		<dict>
			<key>Teentaal</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>320</string>
				</array>
				<key>MaxTempo</key>
				<integer>260</integer>
				<key>MinTempo</key>
				<integer>240</integer>
				<key>Raags</key>
				<dict>
					<key>Tilang</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teen Taal_Tilang_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
					<key>Jog Kouns</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teen Taal_Jog Kouns_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Ahir Bhairav</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Teen Taal_Ahir Bhairav_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>Dadra</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>6</integer>
				<key>Cycles</key>
				<integer>4</integer>
				<key>Tempos</key>
				<array>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
				</array>
				<key>MaxTempo</key>
				<integer>320</integer>
				<key>MinTempo</key>
				<integer>80</integer>
				<key>Raags</key>
				<dict>
					<key>Pilu</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Dadra_Pilu_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Keherwa</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>8</integer>
				<key>Cycles</key>
				<integer>4</integer>
				<key>Tempos</key>
				<array>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>320</string>
				</array>
				<key>MaxTempo</key>
				<integer>480</integer>
				<key>MinTempo</key>
				<integer>80</integer>
				<key>Raags</key>
				<dict>
					<key>Khamaj</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Keharwa_Khamaj_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Pancham Sawari</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>15</integer>
				<key>Tempos</key>
				<array>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
				</array>
				<key>MaxTempo</key>
				<integer>180</integer>
				<key>MinTempo</key>
				<integer>45</integer>
				<key>Raags</key>
				<dict>
					<key>Yaman</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Pancham Sawari_Yaman_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Roopak Taal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>7</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Charukeshi</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Roopak Taal_Charukeshi_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Char Taal Ki Sawari</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>11</integer>
				<key>Tempos</key>
				<array>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>70</integer>
				<key>Raags</key>
				<dict>
					<key>Kalavati</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Char Taal Ki Sawari_Kalavati_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Jhaptaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>55</integer>
				<key>Raags</key>
				<dict>
					<key>Kirwani</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Jhap Taal_Kirwani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Madhuvanti</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Jhap Taal_Madhu Banti_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Ektaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Dhani</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Ek Taal_Dhani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Sohini</key>
					<dict>
						<key>FileName</key>
						<string>Harmonium_Ek Taal_Sohini_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Sitar</key>
	<dict>
		<key>TuningCoeff</key>
		<string>1</string>
		<key>Taals</key>
		<dict>
			<key>Teentaal</key>
			<dict>
				<key>Beats</key>
				<integer>16</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
					<string>240</string>
					<string>320</string>
				</array>
				<key>MaxTempo</key>
				<integer>65</integer>
				<key>MinTempo</key>
				<integer>60</integer>
				<key>Raags</key>
				<dict>
					<key>Gorakh Kalyan</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Teen Taal_Gorakh Kalyan_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Bibhas</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Teen Taal_Bibhas_%@.wav</string>
						<key>Hidden</key>
						<true/>
					</dict>
				</dict>
			</dict>
			<key>Jhaptaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>10</integer>
				<key>Tempos</key>
				<array>
					<string>40</string>
					<string>50</string>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
				</array>
				<key>MaxTempo</key>
				<integer>150</integer>
				<key>MinTempo</key>
				<integer>30</integer>
				<key>Raags</key>
				<dict>
					<key>Desh</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Jhap Taal_Desh_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Hansadhwani</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Jhap Taal_Hansa Dhwani_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
			<key>Ektaal</key>
			<dict>
                <key>Hidden</key>
                <true/>
				<key>Beats</key>
				<integer>12</integer>
				<key>Tempos</key>
				<array>
					<string>60</string>
					<string>75</string>
					<string>90</string>
					<string>120</string>
					<string>150</string>
					<string>180</string>
				</array>
				<key>MaxTempo</key>
				<integer>240</integer>
				<key>MinTempo</key>
				<integer>50</integer>
				<key>Raags</key>
				<dict>
					<key>Ahiri</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Ek Taal_Ahiri_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
					<key>Bageshree</key>
					<dict>
						<key>FileName</key>
						<string>Sitar_Ek Taal_Bageshree_%@.wav</string>
						<key>Hidden</key>
						<false/>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
